section {
    height: 100vh;
    position: relative;
}
.first {
    background-color: #F70808;   
}
.second{
    background-color: #1010EE;
}
.third{
    background-color: #F0F00A;
}

.btnFirst, .btnSecond, .btnThird {
    width: 200px;
    height: 60px;
    position: absolute;
    bottom: 40px;
    right: 40px;
}
.btnFirst{
    background-color: #F0F00A;
}
.btnSecond {
    background-color: #F70808;
}
.btnThird {
    background-color: #1010EE;
}